@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 248, 240; /* Light sand theme background start */
  --background-end-rgb: 240, 224, 200;   /* Light sand theme background end */
  --skeleton-base-color: #e0e0e0;
  --skeleton-highlight-color: #f0f0f0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    );
  min-height: 100vh;
}

html.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 30; /* Darker night sky background start */
  --background-end-rgb: 0, 0, 60;  /* Darker night sky background end */
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    );
  min-height: 100vh;
  position: relative;
  background-color: rgb(0, 0, 30); /* Ensure background color is not affected by opacity */
  z-index: 0; /* Ensure content is above the stars */
}

.skeleton {
  background-color: var(--skeleton-base-color);
  background-image: linear-gradient(90deg, var(--skeleton-base-color), var(--skeleton-highlight-color), var(--skeleton-base-color));
}

.stars-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1; /* Ensure stars are above the gradient background */
}

html.dark .stars-container {
  display: block;
}

.star {
  position: absolute;
  background-color: white;
  border-radius: 50%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  body {
    @apply bg-white dark:bg-[linear-gradient(to_bottom,_rgb(var(--background-start-rgb)),_rgb(var(--background-end-rgb)))] dark:text-white;
  }
}
